*{
    /* Reset o Css */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu
{
    display: flex;
    width: 100%;
    height: 80px;
    
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(142, 142, 142);
}

.menu__item
{
    font-weight: 600;
    text-decoration: none;
    font-family: comic, newedge, sans-serif;
    color: rgb(0, 0, 0);
    transform: texto-decoration 0.4s;
}

.menu__item:hover
{
    text-decoration: underline;
}

.menu__item--button-default
{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);  
    border: 1px solid rgb(0, 0, 0); 
}

.menu__item--sucess
{
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(28, 193, 25);   
    border: 1px solid rgb(0, 0, 0);
}